[data-theme='dark'] {
  --primary-bg-color: #1f1f1f;
  --additional-bg-color: #161616;
  --accent-bg-color: #121212;
  --icon-color: #ffffff;
  --accent-icon-color: #bedbb0;
  --accent-icon-hover-color: #9dc888;
  --additional-icon-color: #bedbb0;
  --primary-text-color: #ffffff;
  --additional-text-color: #ffffff;
  --additional-text-color-op: #ffffffcc;
  --input-text-color: #ffffff;
  --additional-input-text-color: #ffffff80;
  --input-border-color: #bedbb0;
  --input-bg-color: #151515;
  --btn-bg-color: #bedbb0;
  --btn-bg-hover-color: #9dc888;
  --btn-profile-bg-color: #bedbb0;
  --additional-btn-bg-color: #bedbb0;
  --additional-btn-bg-hover-color: #9dc888;
  --btn-icon-color: #ffffff;
  --btn-icon-bg: #161616;
  --btn-text-color: #161616;
  --icon-plus: #ffffff;
  --icon-user: #151515;
  --calendar-bg-color: #1f1f1f;
  --calendar-text-color-trans: #ffffff80;
  --calendar-additional-color-trans: #ffffff33;
  --calendar-secondary-hover-color: #1f1f1f;
  --btn-add-column: #121212;
  --btn-add-column-wrap: #ffffff;
  --line-filter:#FFFFFF1A;
  --without-filter-lable:#e1e1e149;
  --show-filter-txt:#e1e1e180;
  --cart-text:  rgba(255, 255, 255, 0.5);
  --stroke-card: rgba(255, 255, 255, 0.1);
  --btn-rad-without: rgba(255, 255, 255, 0.3);
}

[data-theme='light'] {
  --primary-bg-color: #f6f6f7;
  --additional-bg-color: #fcfcfc;
  --accent-bg-color: #ffffff;
  --icon-color: #161616;
  --accent-icon-color: #bedbb0;
  --accent-icon-hover-color: #9dc888;
  --additional-icon-color: #bedbb0;
  --primary-text-color: #161616;
  --additional-text-color: #161616;
  --additional-text-color-op: #161616cc;
  --input-text-color: #161616;
  --additional-input-text-color: #161616;
  --input-border-color: #bedbb0;
  --input-bg-color: #fcfcfc;
  --btn-bg-color: #bedbb0;
  --btn-bg-hover-color: #9dc888;
  --btn-profile-bg-color: #bedbb0;
  --additional-btn-bg-color: #bedbb0;
  --additional-btn-bg-hover-color: #9dc888;
  --btn-icon-color: #161616;
  --btn-icon-bg: #161616;
  --btn-text-color: #161616;
  --icon-plus: #ffffff;
  --icon-user: #ffffff;
  --calendar-bg-color: #ffffff;
  --calendar-text-color-trans: #16161680;
  --calendar-additional-color-trans: #16161633;
  --calendar-secondary-hover-color: #161616;
  --btn-add-column: #ffffff;
  --btn-add-column-wrap: #161616;
    --line-filter:#1616161A;
  --without-filter-lable:#1616164d;
  --show-filter-txt:#16161680;

  --cart-text:  rgba(22, 22, 22, 0.7);
  --stroke-card: rgba(22, 22, 22, 0.1);
  --btn-rad-without: rgba(22, 22, 22, 0.3);
}

[data-theme='violet'] {
  --primary-bg-color: #ecedfd66;
  --additional-bg-color: #fcfcfc;
  --accent-bg-color: #5255bc;
  --icon-color: #161616;
  --accent-icon-color: #ffffff;
  --accent-icon-hover-color: #b8bcfd;
  --additional-icon-color: #5255bc;
  --primary-text-color: #ffffff;
  --additional-text-color: #161616;
  --additional-text-color-op: #161616cc;
  --input-text-color: #161616;
  --additional-input-text-color: #161616;
  --input-border-color: #5255bc;
  --input-bg-color: #fcfcfc;
  --btn-bg-color: #b8bcfd;
  --btn-bg-hover-color: #979cea;
  --btn-profile-bg-color: #ecedfd;
  --additional-btn-bg-color: #5255bc;
  --additional-btn-bg-hover-color: #7b7ede;
  --btn-icon-color: #161616;
  --btn-icon-bg: #fcfcfc;
  --btn-text-color: #ffffff;
  --icon-plus: #161616;
  --icon-user: #ffffff;
  --calendar-bg-color: #ffffff;
  --calendar-text-color-trans: #16161680;
  --calendar-additional-color-trans: #16161633;
  --calendar-secondary-hover-color: #fcfcfc;
  --btn-add-column: #ffffff;
  --btn-add-column-wrap: #5255bc;
      --line-filter:#1616161A;
  --without-filter-lable:#1616164d;
  --show-filter-txt:#16161680;

  --cart-text:  rgba(22, 22, 22, 0.7);
  --stroke-card: rgba(22, 22, 22, 0.1);
  --btn-rad-without: rgba(22, 22, 22, 0.3);
  
}
