.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 100vh;
  background: #151515; /* Dark gray */
  transform: translateX(0px);
  transition: all var(--transition);
  z-index: 200;
}

.showSidebar {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    transform: translateX(0);
    position: unset;
  }
}

.sidebarHeader {
  padding: 14px 14px 0;
}

@media screen and (min-width: 768px) {
  .sidebarHeader {
    padding: 24px 24px 0;
  }
}

.sidebarWrapper {
  padding: 0 14px;
}

@media screen and (min-width: 768px) {
  .sidebarWrapper {
    padding: 0 24px;
  }
}

.logoBlock {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 104px;
  height: 32px;
  margin-bottom: 70px;
  animation: fadeInOut 3s ease-in-out alternate;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .logoBlock {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .logoBlock {
    margin-bottom: 60px;
  }
}

.logoIcon {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #1f1f1f; /* Darker gray */
  padding: 8px 10px;
}

.logoFlashIcon {
  display: block;
  width: 12px;
  height: 16px;
  fill: #fff;
  stroke: none;
}

.logo {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: #fff;
}

.sidebarBoardsHeading {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}

.createBoardBlock {
  display: flex;
  width: 197px;
  height: 70px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(22, 22, 22, 0.1);
  border-bottom: 1px solid rgba(22, 22, 22, 0.1);
}

@media screen and (min-width: 768px) {
  .createBoardBlock {
    width: 212px;
    height: 70px;
  }
}

.createBoardText {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  width: 76px;
  height: 42px;
  display: flex;
}

.button {
  width: 40px;
  height: 36px;
  border-radius: 6px;
  padding: 8px 10px;
  background-color: #7b7b7b;
  transition: background-color var250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #999;
}

.plusIcon {
  width: 20px;
  height: 20px;
  stroke: #fff;
}

.plusIcon:hover,
.plusIcon:focus {
  stroke: #ccc;
}

.sidebarBoardsList {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: auto;
}

.sidebarBoardsList::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.sidebarBoardsList::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  opacity: 0.08;
  cursor: pointer;
}

.sidebarBoardsList::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.logoutBlock {
  padding: 0 0 24px 24px;
  display: flex;
  align-items: center;
}

.logoutLink {
  display: flex;
  width: 105px;
  height: 32px;
  gap: 14px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoutIcon {
  display: block;
  width: 32px;
  height: 32px;
  stroke: #7b7b7b;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoutLink:hover,
.logoutLink:hover .logoutIcon {
  stroke: #999;
}

.logoutLink:focus,
.logoutLink:focus .logoutIcon {
  stroke: #999;
}
